/* 
    Created on : 14/04/2017, 07:53:35 PM
    Author     : Ing.Giovanni Flores
*/ 

@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    /*    font-family: 'Oswald', sans-serif;*/
    text-transform: uppercase !important;
    font-size: 14px;
}

html{ 
    /*background: url(../img/Logo.png) no-repeat center center fixed; */
    background-color: #002c4c;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
body {
    /*    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*    line-height: 1.42857143; 
        color: #666666 !important;*/
    background: none !important; 
    letter-spacing: 0px;

}

/*LABEL CUSTOM*/
form label  {
    /* font-weight: normal; */
    font-size: 11px !important;
    font-weight: 200;
    color: #666666;
}


h1, .h1 {
    font-size: 30px;
}

h2, .h2 {
    font-size: 26px;
}

h3, .h3 {
    font-size: 22px;
}

h6, .h6 {
    font-size: 12px;
}


/*Botones*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
}

.btn-primary {
    color: #ffffff;   
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e789a+0,103e76+100 */
    background: #5e789a; /* Old browsers */
    background: -moz-linear-gradient(top, #002c4c 0%, #002c4c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #002c4c 0%,#002c4c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #002c4c 0%,#002c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c4c', endColorstr='#002c4c',GradientType=0 ); /* IE6-9 */
}
/*controles de tabla*/
div.dt-buttons > .btn-default{
    background: none;
    border: none;
    color: #002c4c;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.0);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.0);
}

div.dt-buttons > .btn-default:hover{

    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    color: #97A3AB;
}

.btn-default {
    color: #ffffff;   
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
    background: #FFA000; 
    background: -moz-linear-gradient(top, #FFA000 0%, #FFA000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFA000 0%,#FFA000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFA000 0%,#FFA000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA000', endColorstr='#FFA000',GradientType=0 ); /* IE6-9 */
}
.btn-default:hover {
    color: #ffffff;   
    background-color: #B57404;
    border-color: #B57404;
}
.panel-default {
    border: #1a3783 solid 2px;
}

.margin-top-50{
    margin-top: 50px;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-top-150{
    margin-top: 150px;
}
/*CONTAINER*/

.container {
    width: 95% !important;
}
.transparent {
    background-color:transparent !important;
}
a{
    text-decoration: none !important;
}
.thumbnail {
    color: #015FA3;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent !important;
    border: none !important;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.thumbnail:hover {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #1a3783 !important;
    border: 1px solid #1a3783;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072);
}
.text-white{
    color: #fff !important;
}

.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #5bc0de;
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072) !important;
    border-color: rgba(0, 0, 0, 0.6);
}

.label-primary {
    background-color: #7a8288;
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072) !important;
}


/*Imput combobox*/
.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 0px;
    overflow: hidden;
    position: relative;
    border: 0 solid #aaa;
    border: 0 solid #000;
    white-space: nowrap;
    line-height: 20px;
    color: #000;
    font-size: 12px; 
    text-decoration: none;
    border-radius: 0;
}

.select2-container .select2-choice>.select2-chosen {
    font-size: 12px; 
}
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    padding: 0;
    border: none;
    color: #000;
    border-radius: 0;
    font-size: 12px; 
}
.form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 0px 0px;
    font-size: 12px;
    line-height: 1.846;
    color: #666666;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/*navegacion DROPDOWN*/

.navbar {
    border-radius: 0px;
}

.dropdown-menu {
    text-decoration: none;
    color: #59666B; 
}
.dropdown-menu > li > a{
    text-decoration: none;
    color: #666666;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #59666B !important; 
}

.navbar-brand {
    float: left;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-default .navbar-nav > li > a {

    color: #666666 !important;

}
textarea.form-control{
    color: #1a3783 !important;
}
/**SELECT HOVER**/
.select2-results .select2-highlighted {
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072) !important;
    color: #fff;
}

.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
    background-image: linear-gradient(#1f429d, #1a3783 60%, #173072) !important;
    color: #fff;
    cursor: pointer;
}
.modal-header{
    text-align: center;
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;

}

.modal-title {
    margin: 0;
    line-height: 1.846;
    color: #fff;
    font-size: 18px;
}
.modal-subtitle{
    text-align: center;
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
    color: #fff;
    font-size: 25px!important;
}
.modal-title>h4{
    font-size: 50px !important;
}
/*Close Modals*/
.close {
    float: right;
    font-size: 21px !important;
    font-weight: 700;
    line-height: 1;
    color: #fff !important;
    /* text-shadow: 0 1px 0 #fff; */
    filter: alpha(opacity=20);
    opacity: .8;
}
/*Paginacion*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #002c4c;
    border-color: #002c4c;
}

/*Dsibaled menu*/
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    color: #59666B;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #002c4c;
    outline: 0;
} 

/*TABLAS*/

/* table{
    table-layout: fixed !important;
   
}
#table > thead > tr > th{
    width: 100%
}
thead > tr > th{
    width: 100%
}
tr > th{
    width: 100%
}
*/

.table-responsive 
{   
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;   
    overflow-y: hidden;     
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #2c3e50; 
}

#table.table-responsive td{
    min-width:250px; /* force table to be oversize */
}

table tbody tr{
    cursor: pointer;
}
table thead tr{
    cursor: pointer;
}

.table thead th{
    color: #ffffff !important; 
    font-weight: normal !important;
    background-color: #002c4c !important;
    font-size: 13px;
}
.table tfoot th{
    color: #ffffff !important; 
    font-weight: normal !important;
    background-color: #002c4c !important;
    font-size: 13px;
}
.table tr:hover{
    color: #ffffff !important; 
    background-color: #ACB1BE !important;
}

.table tfoot tr th{
    color: #fff !important; 
    font-weight: normal !important; 
}

.table-hover>tbody>tr.success:hover>td, 
.table-hover>tbody>tr.success:hover>th, 
.table-hover>tbody>tr:hover>.success, 
.table-hover>tbody>tr>td.success:hover, 
.table-hover>tbody>tr>th.success:hover {
    background-color: #6D6F76;
}

.table>thead>tr>td.success, 
.table>tbody>tr>td.success, 
.table>tfoot>tr>td.success, 
.table>thead>tr>th.success, 
.table>tbody>tr>th.success, 
.table>tfoot>tr>th.success, 
.table>thead>tr.success>td, 
.table>tbody>tr.success>td, 
.table>tfoot>tr.success>td, 
.table>thead>tr.success>th, 
.table>tbody>tr.success>th, 
.table>tfoot>tr.success>th {
    background-color: #6D6F76;
    color: #FFF;
}

table.table-bordered.dataTable tbody th, 
table.table-bordered.dataTable tbody td {
    font-size: 12px !important;
    border-bottom: 1px solid #dddddd;
}


.table-bordered {
    border: 0px solid #dddddd;
}


.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td {
    border: 0px solid #dddddd; 
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td {
    padding: 6px;   
}


/*Botones de tableros*/
.btn .btnTableros {
    display: inline-block;
    padding: 0px 6px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
}

.btn .btnTableros-default {
    color: #ffffff;   
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
    background: #FFA000; 
    background: -moz-linear-gradient(top, #FFA000 0%, #FFA000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFA000 0%,#FFA000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFA000 0%,#FFA000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA000', endColorstr='#FFA000',GradientType=0 ); /* IE6-9 */
}
.btn .btnTableros-default:hover {
    color: #ffffff;   
    background-color: #B57404;
    border-color: #B57404;
}
/*TOOLTIPS*/

[data-tooltip] {
    display: inline-block;
    position: relative;
    /*    cursor: help;*/
    padding: 1px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #002c4c;
    color: #fff;
    margin-left: 30px;
    margin-top: -25px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 2px;
}

/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 60px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
 
.hand-cursor{
    cursor: pointer; 
}
.hand-cursor:hover{
    cursor: pointer;
    color: #ffffff !important; 
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
}

.list-group-item:hover > .badge {
    color: #ffffff !important; 
    background-color: #bbb;
    background-image: none !important;
} 
.list-group-item>.badgeft {
    float: left;
    color: #ffffff !important; 
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
} 
.list-group-item:hover>.badgeft {
    color: #ffffff !important; 
    background-color: #bbb;
    background-image: none !important;
} 
.badgeft {
    padding: 4px 6px 4px;
} 
.badge { 
    background-color: #bbb; 
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
} 
.badgeft {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #bbb;
    border-radius: 10px;
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
}
 
.list-group-item>.badge-success {
    float: left;
    color: #ffffff !important; 
    background-image: linear-gradient(#002c4c, #002c4c 60%, #002c4c) !important;
}  
.badge-success {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #4caf50;
    border-radius: 10px;
    background-image: none !important;
}
.super-fullscreen {
    width: 90% !important;
    height: 90% !important; 
}
.super-fullscreen {
    width: 90% !important;
    min-height: 90%;
    height: auto; 
}
.super-fullscreen > .modal-content {
    height: auto;
    border-radius: 0;
}
.super-fullscreen > .modal-body {
    height: auto;
    border-radius: 0;
} 
table tfoot th input[type="text"]{
    color: #fff !important;
}
table tfoot th input[type="text"]:focus{
    color: #fff !important;
}
.errorForms{
    
    color: rgb(221,44,0);
    font-size: 12px;
}
