/*@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One|PT+Sans:400,400italic|Caudex);*/
@import url("hover/css/hover-min.css");
@import url(https://fonts.googleapis.com/css?family=Oswald);

.panel-title{
    font-family:"Oswald";
    font-weight: bold;
    font-size: 24px;
}
p{
    font-family:"Oswald";
    font-weight: bold;
    font-size: 24px;
}
.trench-f{
    font-family:"Oswald";
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}
body{ 
    overflow-x:hidden;
    padding-top: 65px;  
    margin-bottom:50px;
    background-color: #FFFFFF;
    /*background-image: url(../media/overlays/axiom-pattern-l.png);*/
    background-image: url(../media/overlays/bg.png) ;

    /*background:url(../media/overlays/t5.png) no-repeat center center fixed;*/ 
    /*  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.navbar-texture{
    color:#fff;
    background-color:#001629;
    background-image: url(../media/overlays/xheaderx.png);
    background-repeat: repeat;
}

#header{
    height:150px;
    color:#fff; 
    background-repeat: repeat;
}
#header{ 
    padding-top:20px;
    color:#FFFFFF}
#header h1.title{

    margin: 15px 15px 15px 15px;
    color:#FFFFFF;
    font-family:"Oswald";
    font-size:33px;
    font-weight:normal;
    left:345px;
    position:absolute;
    text-shadow:2px 2px 2px #FFFFFF;
    top:25px}
#header .legend{
    color:#FFFFFF;
    font-family:"Caudex";
    text-align:right;
    font-size:14px;
    padding-top:14px;
    text-shadow:2px 2px 2px #FFFFFF}


#footer { 
    /*    width: 100%;
         Set the fixed height of the footer here 
        height: auto; 
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 15px;   
        bottom: 0; 
        color: #525252;
        background-color: #525252;
        float: right; */

    background-image: url(../media/overlays/xheaderr.png);
    background-repeat: repeat;  
    left: 0px;
    bottom: 0px;
    height: auto;
    width: 100%; 
    background-color: #E7382E;
    color: #fff;

    text-shadow: 2px 2px 8px #000;
}
.panel{
    /*    background-image: url(../media/overlays/x.png);
        background-repeat: repeat;  */
    background-color:#fff;
}
input [type="text"]
{
    margin-bottom: 5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}
*:not(input[type="text"]),:not(input[type="password"]){
    text-transform: uppercase;
}
button {
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,input[type="radio"],blockquote,label{
    text-transform: uppercase;
}

html, body {
    height: 100%;
}

#table.table-responsive td{
    min-width:250px; /* force table to be oversize */
}
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
thead>tr>td {
    text-transform: uppercase;
}  tbody>tr>td{
    text-transform: uppercase;
}
th {
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#03a3a9+0,028b90+44,006a6e+100 */
    background: #03a3a9; /* Old browsers */
    background: -moz-linear-gradient(top,  #03a3a9 0%, #028b90 44%, #006a6e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #03a3a9 0%,#028b90 44%,#006a6e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #03a3a9 0%,#028b90 44%,#006a6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a3a9', endColorstr='#006a6e',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding: 10px;
    
    background-color:#001629;
    background-image: url(../media/overlays/xheaderx.png);
    color: #fff;
}
td{
    text-align: center; 
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    padding: 10px;
    
}
.table-responsive 
{   
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;   
    overflow-y: hidden;     
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #2c3e50; 
}
/* latin */
@font-face {
    font-family:"Oswald";
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    /*src: local('Questrial'), local('Questrial-Regular'), url(http://fonts.gstatic.com/s/questrial/v6/MYWJ4lYm5dbZ1UBuYox79FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');*/

    /*src: url(fonts/trench100free.ttf);*/
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
figcaption {
    display: block;
    font-family:"Oswald";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;  
    color: #555;
}
.questerial-font{
    display: block;
    font-family:"Oswald";
    font-size: 18px;

    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;  
}
.questerial-font-md{
    font-family:"Oswald";
    font-size: 30px;

    text-align: center;
    padding-top:15px;
    padding-bottom: 15px; 
}
.questerial-font-gd{
    font-family:"Oswald";
    font-size: 45px; 
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px; 
}
.questerial-font-xl{
    font-family:"Oswald";
    font-size: 60px; 
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px; 
}

@media screen and (min-width: 850px) {
    .questerial-font-md{
        font-family:"Oswald";
        font-size: 15px; 
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
    .questerial-font-gd{
        font-family:"Oswald";
        font-size: 30px; 
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
    .questerial-font-xl{
        font-family:"Oswald";
        font-size: 45px; 
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
}
@media screen and (min-width: 650px) { 
    .questerial-font-gd{
        font-family:"Oswald";
        font-size: 25px; 
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
    .questerial-font-xl{
        font-family:"Oswald";
        font-size: 40px; 
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
}
@media screen and (min-width: 450px) { 
    .questerial-font-gd{
        font-family:"Oswald";
        font-size: 20px; 
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
    .questerial-font-xl{
        font-family:"Oswald";
        font-size: 40px; 
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
}
@media screen and (min-width: 250px) { 
    .questerial-font-gd{
        font-family:"Oswald";
        font-size: 15px; 
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
    .questerial-font-xl{
        font-family:"Oswald";
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding-top:15px;
        padding-bottom: 15px; 
    }
}  
.thumbnail { 
    /*    background-color:transparent;
        color:#fff;
        border:none;*/
    /*    background-image: url(../media/overlays/brushed-alum-dark.png);
        background-image: url(../media/overlays/t5.png);*/
    background-repeat: repeat; 
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    -ms-transition:all .5s ease;
    z-index: 2;
} 

.thumbnail:hover{
/*    background-image: url(../media/overlays/axiom-pattern.png);
    background-image: url(../media/overlays/axiom-pattern.png);
    background-repeat: repeat; */
    cursor: pointer;
} 
.thumbnail:hover{ 
    background-image: url(../media/overlays/t6.png);
    background-image: url(../media/overlays/t1.jpg);
    background-color: #2C3E50;
    background-repeat: repeat; 
    cursor: pointer;  
    z-index: 2;
} 
.thumbnail:hover span{ 
    text-shadow: 2px 2px 8px #000; 
    color:#fff;   
} 
.thumbnail h4{ 
    /*text-shadow: 2px 2px 8px #000;*/
        -webkit-transition:all .2s ease;
        -moz-transition:all .2s ease;
        -o-transition:all .2s ease;
        -ms-transition:all .2s ease;
    /*color:#fff;*/
} 
.thumbnail:hover h4{ 

    text-shadow: 2px 2px 8px #000; 
    color:#fff;
} 
.thumbnail > input:hover{ 
    cursor: pointer;
} 
.hand-cursor:hover{
    cursor: pointer;
}
tbody > tr:hover{
    cursor: pointer;
}

/*CUSTOM BUTTONS*/ 
.btn-validation { 
    color: #ffffff; 
    background-color: #75379E; 
    border-color: #75379E; 
} 

.btn-validation:hover, 
.btn-validation:focus, 
.btn-validation:active, 
.btn-validation.active, 
.open .dropdown-toggle.btn-validation { 
    color: #ffffff; 
    background-color: #58328A; 
    border-color: #75379E; 
} 

.btn-validation:active, 
.btn-validation.active, 
.open .dropdown-toggle.btn-validation { 
    background-image: none; 
} 

.btn-validation.disabled, 
.btn-validation[disabled], 
fieldset[disabled] .btn-validation, 
.btn-validation.disabled:hover, 
.btn-validation[disabled]:hover, 
fieldset[disabled] .btn-validation:hover, 
.btn-validation.disabled:focus, 
.btn-validation[disabled]:focus, 
fieldset[disabled] .btn-validation:focus, 
.btn-validation.disabled:active, 
.btn-validation[disabled]:active, 
fieldset[disabled] .btn-validation:active, 
.btn-validation.disabled.active, 
.btn-validation[disabled].active, 
fieldset[disabled] .btn-validation.active { 
    background-color: #75379E; 
    border-color: #75379E; 
} 

.btn-validation .badge { 
    color: #75379E; 
    background-color: #ffffff; 
}

.btn-dark { 
    color: #ffffff; 
    background-color: #3D3D3D; 
    border-color: #000000; 
} 

.btn-dark:hover, 
.btn-dark:focus, 
.btn-dark:active, 
.btn-dark.active, 
.open .dropdown-toggle.btn-dark { 
    color: #ffffff; 
    background-color: #000000; 
    border-color: #000000; 
} 

.btn-dark:active, 
.btn-dark.active, 
.open .dropdown-toggle.btn-dark { 
    background-image: none; 
} 

.btn-dark.disabled, 
.btn-dark[disabled], 
fieldset[disabled] .btn-dark, 
.btn-dark.disabled:hover, 
.btn-dark[disabled]:hover, 
fieldset[disabled] .btn-dark:hover, 
.btn-dark.disabled:focus, 
.btn-dark[disabled]:focus, 
fieldset[disabled] .btn-dark:focus, 
.btn-dark.disabled:active, 
.btn-dark[disabled]:active, 
fieldset[disabled] .btn-dark:active, 
.btn-dark.disabled.active, 
.btn-dark[disabled].active, 
fieldset[disabled] .btn-dark.active { 
    background-color: #3D3D3D; 
    border-color: #000000; 
} 

.btn-dark .badge { 
    color: #3D3D3D; 
    background-color: #ffffff; 
}


.btn-excel { 
    color: #ffffff; 
    background-color: #35943C; 
    border-color: #35943C; 
} 

.btn-excel:hover, 
.btn-excel:focus, 
.btn-excel:active, 
.btn-excel.active, 
.open .dropdown-toggle.btn-excel { 
    color: #ffffff; 
    background-color: #0B4202; 
    border-color: #0B4202; 
} 

.btn-excel:active, 
.btn-excel.active, 
.open .dropdown-toggle.btn-excel { 
    background-image: none; 
} 

.btn-excel.disabled, 
.btn-excel[disabled], 
fieldset[disabled] .btn-excel, 
.btn-excel.disabled:hover, 
.btn-excel[disabled]:hover, 
fieldset[disabled] .btn-excel:hover, 
.btn-excel.disabled:focus, 
.btn-excel[disabled]:focus, 
fieldset[disabled] .btn-excel:focus, 
.btn-excel.disabled:active, 
.btn-excel[disabled]:active, 
fieldset[disabled] .btn-excel:active, 
.btn-excel.disabled.active, 
.btn-excel[disabled].active, 
fieldset[disabled] .btn-excel.active { 
    background-color: #35943C; 
    border-color: #0B4202; 
} 

.btn-excel .badge { 
    color: #35943C; 
    background-color: #ffffff; 
}


.btn-yellow { 
    color: #ffffff; 
    background-color: #FFEA00; 
    border-color: #FFEA00; 
} 

.btn-yellow:hover, 
.btn-yellow:focus, 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
    color: #ffffff; 
    background-color: #FFCC00; 
    border-color: #FFEA00; 
} 

.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
    background-image: none; 
} 

.btn-yellow.disabled, 
.btn-yellow[disabled], 
fieldset[disabled] .btn-yellow, 
.btn-yellow.disabled:hover, 
.btn-yellow[disabled]:hover, 
fieldset[disabled] .btn-yellow:hover, 
.btn-yellow.disabled:focus, 
.btn-yellow[disabled]:focus, 
fieldset[disabled] .btn-yellow:focus, 
.btn-yellow.disabled:active, 
.btn-yellow[disabled]:active, 
fieldset[disabled] .btn-yellow:active, 
.btn-yellow.disabled.active, 
.btn-yellow[disabled].active, 
fieldset[disabled] .btn-yellow.active { 
    background-color: #FFEA00; 
    border-color: #FFEA00; 
} 

.btn-yellow .badge { 
    color: #FFEA00; 
    background-color: #ffffff; 
}
.btn-sky { 
    color: #ffffff; 
    background-color: #18D7F0; 
    border-color: #18D7F0; 
} 

.btn-sky:hover, 
.btn-sky:focus, 
.btn-sky:active, 
.btn-sky.active, 
.open .dropdown-toggle.btn-sky { 
    color: #ffffff; 
    background-color: #0EAFC4; 
    border-color: #18D7F0; 
} 

.btn-sky:active, 
.btn-sky.active, 
.open .dropdown-toggle.btn-sky { 
    background-image: none; 
} 

.btn-sky.disabled, 
.btn-sky[disabled], 
fieldset[disabled] .btn-sky, 
.btn-sky.disabled:hover, 
.btn-sky[disabled]:hover, 
fieldset[disabled] .btn-sky:hover, 
.btn-sky.disabled:focus, 
.btn-sky[disabled]:focus, 
fieldset[disabled] .btn-sky:focus, 
.btn-sky.disabled:active, 
.btn-sky[disabled]:active, 
fieldset[disabled] .btn-sky:active, 
.btn-sky.disabled.active, 
.btn-sky[disabled].active, 
fieldset[disabled] .btn-sky.active { 
    background-color: #18D7F0; 
    border-color: #18D7F0; 
} 

.btn-sky .badge { 
    color: #18D7F0; 
    background-color: #ffffff; 
}

.btn-olive { 
    color: #ffffff; 
    background-color: #A6DB44; 
    border-color: #A6DB44; 
} 

.btn-olive:hover, 
.btn-olive:focus, 
.btn-olive:active, 
.btn-olive.active, 
.open .dropdown-toggle.btn-olive { 
    color: #ffffff; 
    background-color: #80BD0F; 
    border-color: #80BD0F; 
} 

.btn-olive:active, 
.btn-olive.active, 
.open .dropdown-toggle.btn-olive { 
    background-image: none; 
} 

.btn-olive.disabled, 
.btn-olive[disabled], 
fieldset[disabled] .btn-olive, 
.btn-olive.disabled:hover, 
.btn-olive[disabled]:hover, 
fieldset[disabled] .btn-olive:hover, 
.btn-olive.disabled:focus, 
.btn-olive[disabled]:focus, 
fieldset[disabled] .btn-olive:focus, 
.btn-olive.disabled:active, 
.btn-olive[disabled]:active, 
fieldset[disabled] .btn-olive:active, 
.btn-olive.disabled.active, 
.btn-olive[disabled].active, 
fieldset[disabled] .btn-olive.active { 
    background-color: #A6DB44; 
    border-color: #A6DB44; 
} 

.btn-olive .badge { 
    color: #A6DB44; 
    background-color: #ffffff; 
}

.btn-water { 
    color: #ffffff; 
    background-color: #44DBA9; 
    border-color: #44DBA9; 
} 

.btn-water:hover, 
.btn-water:focus, 
.btn-water:active, 
.btn-water.active, 
.open .dropdown-toggle.btn-water { 
    color: #ffffff; 
    background-color: #1DAB7C; 
    border-color: #44DBA9; 
} 

.btn-water:active, 
.btn-water.active, 
.open .dropdown-toggle.btn-water { 
    background-image: none; 
} 

.btn-water.disabled, 
.btn-water[disabled], 
fieldset[disabled] .btn-water, 
.btn-water.disabled:hover, 
.btn-water[disabled]:hover, 
fieldset[disabled] .btn-water:hover, 
.btn-water.disabled:focus, 
.btn-water[disabled]:focus, 
fieldset[disabled] .btn-water:focus, 
.btn-water.disabled:active, 
.btn-water[disabled]:active, 
fieldset[disabled] .btn-water:active, 
.btn-water.disabled.active, 
.btn-water[disabled].active, 
fieldset[disabled] .btn-water.active { 
    background-color: #44DBA9; 
    border-color: #44DBA9; 
} 

.btn-water .badge { 
    color: #44DBA9; 
    background-color: #ffffff; 
}
.btn-pink { 
    color: #ffffff; 
    background-color: #E381A0; 
    border-color: #E381A0; 
    background-image: url(../media/overlays/btnPink.png); 
} 

.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
    color: #ffffff; 
    background-color: #E35885; 
    border-color: #E381A0; 
} 

.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
    background-image: none; 
} 

.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
    background-color: #E381A0; 
    border-color: #E381A0; 
} 

.btn-pink .badge { 
    color: #E381A0; 
    background-color: #ffffff; 
}
.btn3d {
    position:relative;
    top: -6px;
    border:0;
    transition: all 40ms linear;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:2px;
    margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
    outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-white {
    color: #fff;
    box-shadow:0 0 0 1px #b5c6d0 inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #b5c6d0, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#fff; 
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: #fff;
    box-shadow:0 0 0 1px #f2f6f8 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#fff;
}
.btn3d.btn-king-blue {
    color: #fff;
    box-shadow:0 0 0 1px #032F4C inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #032F4C, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#032F4C; 
    
       background-image: url(../media/overlays/btnBlue.png);
}
.btn3d.btn-king-blue:active, .btn3d.btn-king-blue.active {
    color: #fff;
    box-shadow:0 0 0 1px #032F4C inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#032F4C;
}
.btn3d.btn-dark {
    color: #fff;
    box-shadow:0 0 0 1px #333333 inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #333333, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#333333; 
    background-image: url(../media/overlays/btnDark.png); 
}
.btn3d.btn-dark:active, .btn3d.btn-dark.active {
    color: #fff;
    box-shadow:0 0 0 1px #333333 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#333333;
}


.btn3d.btn-default {
    color: #fff;
    box-shadow:0 0 0 1px #000000 inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #000000, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#000000; 
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #fff;
    box-shadow:0 0 0 1px #000000 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#000000;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#4274D7; 
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#4274D7;
}
.btn3d.btn-success {
    box-shadow:0 0 0 1px #1D514D inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #1D514D, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#1D514D;  
    background-image: url(../media/overlays/xheaderg.png);
    color: #fff; 
}
.btn3d.btn-success:active, .btn3d.btn-success.active {
    box-shadow:0 0 0 1px #14A714 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #14A714;
}
.btn3d.btn-info {
    color: #fff;
    background-color: #108B9C;
    box-shadow:0 0 0 1px #108B9C inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #108B9C, 0 8px 8px 1px rgba(0,0,0,0.5);
       background-image: url(../media/overlays/xheadert.png);
    color: #fff; 
}
.btn3d.btn-info:active, .btn3d.btn-info.active {
    box-shadow:0 0 0 1px #108B9C inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #108B9C;
}
.btn3d.btn-warning {
    box-shadow:0 0 0 1px #E8B467 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #E8B467, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#E8B467;
    background-image: url(../media/overlays/btnWarning.png);
    color: #fff; 

}
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
    box-shadow:0 0 0 1px #ffcc00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #ffcc00;
}

.btn3d.btn-steel {
    box-shadow:0 0 0 1px #cccccc inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #cccccc, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#cccccc;
    background-image: url(../media/overlays/btnSteel.png);
    color: #fff; 

}
.btn3d.btn-steel:active, .btn3d.btn-steel.active {
    box-shadow:0 0 0 1px #cccccc inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #cccccc;
}
.btn3d.btn-danger {
    box-shadow:0 0 0 1px #70302E inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #70302E, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#70302E;
    background-image: url(../media/overlays/xheaderr.png);

}
.btn3d.btn-danger:active, .btn3d.btn-danger.active {
    box-shadow:0 0 0 1px #C1173C inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #C1173C;
}
.btn3d.btn-red {
    color: #FFF;
    box-shadow:0 0 0 1px #D11919 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #D11919, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#D11919;

}
.btn3d.btn-red:active, .btn3d.btn-red.active {
    color: #FFF;
    box-shadow:0 0 0 1px #D11919 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #D11919;
}
.btn3d.btn-validation {
    color: #fff;
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #9a00cd, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#bb39d7;
}
.btn3d.btn-validation:active, .btn3d.btn-validation.active {
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #bb39d7;
}

.btn3d.btn-pink {
    color: #fff;
    box-shadow:0 0 0 1px #E35885 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #E35885, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#E381A0;
}
.btn3d.btn-pink:active, .btn3d.btn-pink.active {
    box-shadow:0 0 0 1px #E35885 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #E381A0;
} 

.btn3d.btn-yellow {
    color: #fff;
    box-shadow:0 0 0 1px #FFCC00 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #FFCC00, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#FFEA00;
}
.btn3d.btn-yellow:active, .btn3d.btn-yellow.active {
    box-shadow:0 0 0 1px #FFCC00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #FFEA00;
}
.btn3d.btn-sea-green {
    color: #fff;
    box-shadow:0 0 0 1px #2E8B57 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #2E8B57, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#3CB371;
}
.btn3d.btn-sea-green:active, .btn3d.btn-sea-green.active {
    box-shadow:0 0 0 1px #2E8B57 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #3CB371;
}


.btn3d.btn-water {
    color: #fff;
    box-shadow:0 0 0 1px #1DAB7C inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #1DAB7C, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#44DBA9;
}
.btn3d.btn-water:active, .btn3d.btn-water.active {
    box-shadow:0 0 0 1px #1DAB7C inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #44DBA9;
}  


.btn3d.btn-olive {
    color: #fff;
    box-shadow:0 0 0 1px #80BD0F inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #80BD0F, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#A6DB44;

}
.btn3d.btn-olive:active, .btn3d.btn-olive.active {
    box-shadow:0 0 0 1px #80BD0F inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #A6DB44;
}   

.btn3d.btn-gold {
    color: #fff;
    box-shadow:0 0 0 1px #FEC417 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #FEC417, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#FEC417;

}
.btn3d.btn-gold:active, .btn3d.btn-gold.active {
    box-shadow:0 0 0 1px #FEC417 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#FEC417;
}   
.btn3d.btn-indigo {
    color: #fff;
    box-shadow:0 0 0 1px #4B2045 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4B2045, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#4B2045;
       background-image: url(../media/overlays/btnIndigo.png);
    color: #fff; 

}
.btn3d.btn-indigo:active, .btn3d.btn-indigo.active {
    box-shadow:0 0 0 1px #4B2045 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#4B2045;
}   
.btn3d.btn-emerald {
    color: #fff;
    box-shadow:0 0 0 1px #94A40C inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #94A40C, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#94A40C;
    
    background-image: url(../media/overlays/btnEmerald.png); 

}
.btn3d.btn-emerald:active, .btn3d.btn-emerald.active {
    box-shadow:0 0 0 1px #017144 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#017144;
}   
.btn3d.btn-ruby {
    color: #fff;
    box-shadow:0 0 0 1px #0096aa inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #0096aa, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#0096aa; 
}
.btn3d.btn-ruby:active, .btn3d.btn-ruby.active {
    box-shadow:0 0 0 1px #0096aa inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#0096aa;
}   
.btn3d.btn-brown {
    color: #fff;
    box-shadow:0 0 0 1px #774300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #774300, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#774300; 
    background-image: url(../media/overlays/btnBrown.png); 
}
.btn3d.btn-brown:active, .btn3d.btn-brown.active {
    box-shadow:0 0 0 1px #774300 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#774300;
}   
li > a:hover{
    cursor: pointer;
    background: #afbdd8;
    color: #333;
}
.margin-15-top{ 
    margin-top: 15px; 
}
.margin-15-right{ 
    margin-right: 15px; 
}
.margin-15-top-bottom{ 
    margin-top: 15px;
    margin-bottom: 15px; 
}
.margin-15-top-bottom-left{ 
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-left: 15px;
}
.margin-15-top-bottom-right{ 
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-right: 15px;
}
.margin-15-top-bottom-left-right{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
thead > tr.primary{
    background-color: #2c3e50;
    color: #fff;
}
tfoot > tr.primary{
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
}

li.list-group-item:hover{
    background-color: #eee;
    color: #333;
    cursor: pointer;
}

.zfont{
    position: absolute;
    left: 25px;
    top: 0px;
    z-index: 1; 
}

.x-overflow-component{ 
    overflow-x: scroll; 
}
.y-overflow-component{
    overflow-y: scroll;
}
.xy-overflow-component{
    border: thin solid black; 
    overflow-x: scroll;
    overflow-y: scroll;
}
.shadow-effect{
    -webkit-box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
    -moz-box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
    box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    -ms-transition:all .2s ease;
    width:100%;
}
a.navbar-brand{
    padding: 8px;
}

div.well{
    margin-top: 15px;
    background-color: #fff;
    background-image: url(../media/overlays/footer_lodyas.png);
    background-repeat: repeat;
    color: #333; 
}

.glow-blue{
    -moz-box-shadow: 0px -3px 75px #00ccff;
    -webkit-box-shadow: 0px -3px 75px #00ccff;
    box-shadow: 0px -3px 75px #00ccff;
    -moz-box-shadow: 0px -3px 75px #00ccff;
    -webkit-box-shadow: 0px -3px 75px #00ccff;
    box-shadow: 0px -3px 75px #00ccff;
}
.glow-blue-text{
    text-shadow: 1px 2px 3px #666;
}


.type_5 {
    border: 0;
    height: 3px; 
    background-color: #fff;
    background-image: url(images/border_x3.png);  
    box-shadow: 10px 10px 5px #888888;
}

.sun-shadow-box{
    box-shadow: 10px 10px 5px #888888;
}
.sun-shadow-text{ 
    text-shadow: 2px 2px #888888;
}

input[type="text"] {
    text-transform: uppercase;
    padding: 10px;
    border: solid 1px #dcdcdc;
    color: #000033;
    text-align: center;
    font-size: 25px;
}
input[type="text"]:focus,
input[type="search"]:focus  {
    border: solid 2px #333; 
    color: #000033; 
    font-weight: bold;
    text-align: center;
    -moz-box-shadow: 0px -3px 75px #00ccff;
    -webkit-box-shadow: 0px -3px 75px #00ccff;
    box-shadow: 0px -3px 75px #00ccff;

    -moz-box-shadow: 0px -3px 75px #333;
    -webkit-box-shadow: 0px -3px 75px #333;
    box-shadow: 0px -3px 75px #333;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
} 
input[type="number"]:focus {
    border: solid 2px #333; 
    color: #000033;
    font-weight: bold;
    text-align: center;
}
input[type="text"] {
    border: solid 2px #000;
    color: #000033;
    font-weight: bold;
    text-align: center;
} 
input[type="password"]:focus {
    border: solid 1px #333;
    color: #000033;
    font-weight: bold;
    text-align: center;
    -moz-box-shadow: 0px -3px 75px #f0f003;
    -webkit-box-shadow: 0px -3px 75px #f0f003;
    box-shadow: 0px -3px 75px #f0f003;

    -moz-box-shadow: 0px -3px 75px #00ccff;
    -webkit-box-shadow: 0px -3px 75px #00ccff;
    box-shadow: 0px -3px 75px #00ccff;

} 
input[type="password"] {
    border: solid 1px #333;
    color: #000033;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
} 
input[type="number"] {
    border: solid 2px #000;
    color: #000033;
    font-weight: bold;
    text-align: center;
    font-size: 16px; 
}
select {
    border: solid 1px #333;
    color: #000033;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.mountest{
    border: solid 5px #05051C;
    box-shadow: 0 0 15px 1px #1C1C45;
    color: #000033;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}


.datest{
    border: solid 5px #cc0000;
    box-shadow: 0 0 15px 1px #cc0000;
    color: #000033;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.vertical-hr-dashed {
    border-right: 1px dashed #cccccc;
}
.vertical-hr-solid {
    border-right: 1px solid #cccccc;
}
.text-justify {
    text-align: justify;
}
.v-center {
    min-height: 100%; 
    min-height: 20vh; 
    display: flex;
    align-items: center;
}
.fullscreen {
    width: 85% !important;
    height: 85% !important; 
}
td.highlight {
    background-color: whitesmoke !important;
}


.btn3d.btn-a-blue {
    color: #fff;
    box-shadow:0 0 0 1px #3B348E inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #3B348E, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#3B348E; 
}
.btn3d.btn-a-blue:active, .btn3d.btn-a-blue.active {
    box-shadow:0 0 0 1px #3B348E inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#3B348E;
}   
.btn3d.btn-a-green {
    color: #fff;
    box-shadow:0 0 0 1px #60BA16 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #60BA16, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#60BA16; 
}
.btn3d.btn-a-green:active, .btn3d.btn-a-green.active {
    box-shadow:0 0 0 1px #60BA16 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#60BA16;
}   
.btn3d.btn-a-purple {
    color: #fff;
    box-shadow:0 0 0 1px #380A70 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #380A70, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#380A70; 
}
.btn3d.btn-a-purple:active, .btn3d.btn-a-purple.active {
    box-shadow:0 0 0 1px #380A70 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#380A70;
}   

.btn3d.btn-a-orange {
    color: #fff;
    box-shadow:0 0 0 1px #F24F30 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #F24F30, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:	#F24F30; 
    
    background-image: url(../media/overlays/xheaderow.png); 
}
.btn3d.btn-a-orange:active, .btn3d.btn-a-orange.active {
    box-shadow:0 0 0 1px #D15019 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: 	#D15019;
}   

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #032F4C;
    border-color: #032F4C;
}

thead > tr.primary {
    background-color: #032F4C;
    color: #fff;
}
tfoot > tr.primary {
    background-color: #032F4C;
    color: #fff;
    text-align: center;
} 

.btn-default {
    color: #fff; 
    background-color:	#090A09; 
    -webkit-box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
    -moz-box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
    box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -o-transition:all .8s ease;
    -ms-transition:all .8s ease; 
}
.btn-default:active, .btn-default.active { 
    background-color: 	#090A09;
} 
.btn{

    /*    -webkit-box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
        -moz-box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
        box-shadow: 3px 5px 47px -7px rgba(0,0,0,1);
        -webkit-transition:all .8s ease;
        -moz-transition:all .8s ease;
        -o-transition:all .8s ease;
        -ms-transition:all .8s ease;  
        transform: scale(1);*/
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
} 
.img-ajax-upload { 
    position: relative; 
    overflow-y: auto;    
    overflow-x: auto; 
    min-width: 300px;  
    max-height: 600px;
}   
.odd selected
{
    background-color: #08C;
    color: #fff;
}  

.cursor-hand{
    cursor: pointer;
}
thead > tr > th{
    width: 100%
}
*{
    font-family:"Oswald";
    /*font-weight: bold;*/
    font-size: 24px;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6,button,span,p  {
    font-family:"Oswald";
}

.green-background{
    background-color: #006600;
    color: #fff;
}
.red-background{
    background-color: #cc0000;
    color: #fff;
}
.blue-light-background{
    background-color: #108B9C;
    color: #fff;
}
.blue-background{
    background-color: #032F4C;
    color: #fff;
}
.label-green {
    background-color: #006600;
    color: #fff;
}
.label-red {
    background-color: #cc0000;
    color: #fff;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.label-blue-light {
    background-color: #108B9C;
    color: #fff;
} 
.label-indigo { 
    background-color: #58328A; 
    color: #fff;
}
.label-emerald { 
    background-color: #60BA16; 
    color: #fff;
}
.label-emerald { 
    background-color: #60BA16; 
    color: #fff;
}
.label-dark-emerald{
    background-color: #017144; 
    color: #fff; 
}
.label-dark-emerald{
    background-color: #14A714; 
    color: #fff; 
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.label-dark-orange{
    background-color: #ff6600; 
    background-color: #ff3b00; 
    background-color: #ff6600; 
    color: #fff; 
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.label-blue-sea{
    color: #fff;
    background-color: #108B9C;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.label-yellow{
    color: #fff;
    background-color: #ffcc00;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.label-yellow{
    color: #fff;
    background-color: #ffcc00;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
/**/
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin-right: 0.5rem;
    z-index: 1000;
}

.option-input:hover { background: #9faab7; }

.option-input:checked { background: #032F4C; }

.option-input:checked::before {
    width: 40px;
    height: 40px;
    position: absolute;
    content: '\267B';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #032F4C;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin-right: 0.5rem;
    z-index: 1000;
}
.ztop{
    z-index: 4;
}
.option-input-check:hover { background: #9faab7; }

.option-input-check:checked { background: #032F4C; }

.option-input-check:checked::before {
    width: 40px;
    height: 40px;
    position: absolute;
    content: '\2718';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input-check:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #032F4C;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
} 

/**/
.option-input-validated {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    margin-right: 0.5rem;
    z-index: 1000;
}

.option-input-validated:hover { background: #9faab7; }

.option-input-validated:checked { background: #032F4C; }

.option-input-validated:checked::before {
    width: 40px;
    height: 40px;
    position: absolute;
    content: '\0024';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input-validated:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #032F4C;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
} 
.text-blue{
    color: #333333; 
}
.text-white{
    color: #fff; 
}
.text-white-green{
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffff00, 0 0 30px #ffff00, 0 0 40px #ffff00, 0 0 55px #ffff00, 0 0 75px #ffff00
}
.text-white-blue{
    color: #fff;  
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0EAFC4, 0 0 30px #0EAFC4, 0 0 40px #0EAFC4, 0 0 55px #0EAFC4, 0 0 75px #0EAFC4
}
.text-white-yellow{
    color: #fff;   
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffcc00, 0 0 30px #ffcc00, 0 0 40px #ffcc00, 0 0 55px #ffcc00, 0 0 75px #ffcc00
}
.option-input.radio { border-radius: 50%; }

.has-primary .form-control, .has-primary .form-control:focus {
    border: 2px solid #032F4C;
}
.option-input.radio::after { border-radius: 50%; }

@-webkit-keyframes 
click-wave { 0% {
                 width: 40px;
                 height: 40px;
                 opacity: 0.35;
                 position: relative;
             }
             100% {
                 width: 200px;
                 height: 200px;
                 margin-left: -80px;
                 margin-top: -80px;
                 opacity: 0.0;
             }
}

@-moz-keyframes 
click-wave { 0% {
                 width: 40px;
                 height: 40px;
                 opacity: 0.35;
                 position: relative;
             }
             100% {
                 width: 200px;
                 height: 200px;
                 margin-left: -80px;
                 margin-top: -80px;
                 opacity: 0.0;
             }
}

@-o-keyframes 
click-wave { 0% {
                 width: 40px;
                 height: 40px;
                 opacity: 0.35;
                 position: relative;
             }
             100% {
                 width: 200px;
                 height: 200px;
                 margin-left: -80px;
                 margin-top: -80px;
                 opacity: 0.0;
             }
}

@keyframes 
click-wave { 0% {
                 width: 40px;
                 height: 40px;
                 opacity: 0.35;
                 position: relative;
             }
             100% {
                 width: 200px;
                 height: 200px;
                 margin-left: -80px;
                 margin-top: -80px;
                 opacity: 0.0;
             }
}

.panel-heading{
    background-repeat: repeat;  
}
.fa-building-black {
    color: #00cc99;
    color: #00cccc;
}
.fa-puzzle-piece-invert {
    color: #00cccc;
}
.fa-puzzle-piece-indigo {
    color: #60BA16;
}
.fa-invert-negative {
    color: #ccff00;
}

td.details-control {
    /*background: url('../resources/details_open.png') no-repeat center center;*/
    background: url(../media/overlays/details_open.png) no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../media/overlays/details_close.png') no-repeat center center;
}

.form-control {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 3px solid #000;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.progress-bar-kingblue {
    background-color: #032F4C;
}
.progress-bar-black {
    background-color: #000;
}
.progress-bar-indigo {
    background-color: #58328A;
}
.progress-bar-emerald {
    background-color: #60BA16;
}
.panel {
    /*background-image: url(../media/overlays/congruent_outline_gray.png);*/
    background-repeat: repeat; 
}
.panel>label,.btn3d, th, .panel-heading { 
    text-shadow: 2px 2px 8px #000;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    -ms-transition:all .2s ease;
    /*color:#fff;*/
}
table tr
{
    background-color: #fff; 

}
.modal-header{
    color: #fff;
    background-color: #032f4c;
    border-color: #032f4c;
    text-shadow: 2px 2px 8px #000;
    text-align: center;
    border-radius: 3px; 
    /*    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00ccff, 0 0 30px #00ccff, 0 0 40px #00ccff, 0 0 55px #00ccff, 0 0 75px #00ccff;*/
}
.modal-content{
    border-radius: 10px;
}


#map_register { 
    height: 525px;
    width: 100%;
}
.map{
    height: 525px;
    width: 100%;
}

.inside-map-ext{  
}

.inside-map{
    top: 10px;
    z-index: 5;
}
.mark-danger{ 
    cursor: pointer;
    color:#fff;
    background-color: #B30000;
    /*background-image: url(../media/overlays/15.png);*/
    background-repeat: repeat;
    height: 30px;
    width: 100%;
    text-align: center;
}
.mark-danger:hover{ 
    cursor: pointer;
    color:#fff;
    background-color: #ee0929;
    /*background-image: url(../media/overlays/15.png);*/
    background-repeat: repeat;
    height: 30px;
    width: 100%;
    text-align: center;
}
.mark-success{ 
    cursor: pointer;
    color:#fff;
    background-color: #85B200;
    /*background-image: url(../media/overlays/15.png);*/
    background-repeat: repeat;
    height: 30px;
    width: 100%;
    text-align: center;
}
.mark-success:hover{ 
    cursor: pointer;
    color:#fff;
    background-color: #9fce11;
    /*background-image: url(../media/overlays/15.png);*/
    background-repeat: repeat;
    height: 30px;
    width: 100%;
    text-align: center;
}
.mark-warning{ 
    cursor: pointer;
    color:#fff;
    background-color: #FF8000;
    /*background-image: url(../media/overlays/15.png);*/
    background-repeat: repeat;
    height: 30px;
    width: 100%;
    text-align: center;
}

.mark-warning:hover{ 
    cursor: pointer;
    color:#fff;
    background-color: #FF972F;
    /*background-image: url(../media/overlays/15.png);*/
    background-repeat: repeat;
    height: 30px;
    width: 100%;
    text-align: center;
}
.mark-info{ 
    cursor: pointer;
    color:#fff;
    background-color: #00B2B2;
    /*background-image: url(../media/overlays/15.png);*/
    background-repeat: repeat;
    height: 30px; 
    text-align: center;
}
.mark-info:hover{ 
    cursor: pointer;
    color:#fff;
    background-color: #00D2D2;
    /*background-image: url(../media/overlays/15.png);*/
    background-repeat: repeat;
    height: 30px; 
    text-align: center;
}
/*
*/.box-messages{
    width: 100%;
    height: auto;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 12px;
}/*
.gm-style-iw{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; 
    height: 100%;
    width: 100%;
}
.gm-style-iw + div > img{
    background-color: #000;
    color: #fff;
}*/
.inside-map-extv2{
    z-index: 5;
    top: 500px;
}


.table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success, .table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5ec04+0,b4d703+44,9ebe00+100 */
    background: #c5ec04; /* Old browsers */
    background: -moz-linear-gradient(top,  #c5ec04 0%, #b4d703 44%, #9ebe00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c5ec04 0%,#b4d703 44%,#9ebe00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c5ec04 0%,#b4d703 44%,#9ebe00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5ec04', endColorstr='#9ebe00',GradientType=0 ); /* IE6-9 */
    color: #21740C;
}
table .success, .table .success, table .warning, .table .warning, table .danger, .table .danger, table .info, .table .info {
    color: #fff;
}
.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning, .table>thead>tr>th.warning, .table>tbody>tr>th.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>tbody>tr.warning>td, .table>tfoot>tr.warning>td, .table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th {
    color: #21740C;
} 
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5ec04+0,b4d703+44,9ebe00+100 */
    background: #c5ec04; /* Old browsers */
    background: -moz-linear-gradient(top,  #c5ec04 0%, #b4d703 44%, #9ebe00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c5ec04 0%,#b4d703 44%,#9ebe00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c5ec04 0%,#b4d703 44%,#9ebe00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5ec04', endColorstr='#9ebe00',GradientType=0 ); /* IE6-9 */
    color: #21740C;
     
} 

.modal-header{
    background-color:#001629;
    background-image: url(../media/overlays/xheadero.png);
    color: #fff;
}

.panel-primary>.panel-heading {
    background-color:#001629;
    background-image: url(../media/overlays/xheaderg.png);
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}
.text-primary, .text-primary:hover {
    color: #9E9E9E;
}

.thumbnail .caption {
    padding: 9px;
    color: #9E9E9E;
}
.text-primary, .text-primary:hover {
    color: #9E9E9E;
}